*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.section1{
    margin: 0;
    padding: 0;
}
i{
    margin-left: 15px;
    margin-top: 15px;
}
.s{
    border: 1px solid #1C1C50;
    color: #1C1C50;
}
.s:hover{
    color: white;
    background-color: #1C1C50;
    
}


.navbar{
    background-color: #1B1B4E;
    width: 100%;
    padding: 0;
}
.dropdown-menu  a:hover{
    background-color: white!important;
    color: black !important;
}
.btn1{
    border: 2px solid #1C1C50;
    text-align: center;
    width: 200px;
    font-weight: bold;
}
.btn1:hover{
    background-color: #1C1C50;
    color: white;
}
.conto{
    overflow: hidden;
}
.conto img{
    width: 100%;
}
.section3{
    background-color: #F2F2F2;
}
.btn2{
    border:2px solid #1c1c50;
    color:#1c1c50;
    font-weight: bold;
}
.btn2:hover{
    background-color: #1c1c50;
    color: white;
}
.section4 .para{
    color: #1C1C50;
    font-weight: bolder;
}
.section6 .fa-star{
    margin-left: 0px;
    
}
.section6 .btn{
    border: 2px solid #1C1C50;
    color: #1C1C50;
    text-align: center;
    font-weight: bold;
    width: 200px;
    letter-spacing: 5px;


}
.section6 .btn:hover{
    background-color: #1C1C50;
    color: white;
}